@import "tailwindcss";
/* red-hat-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/red-hat-text-v19-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/red-hat-text-v19-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/red-hat-text-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Colours */
  --color-Red: hsl(14, 86%, 42%);
  --color-Rose900: hsl(14, 65%, 9%);
  --color-Rose500: hsl(12, 20%, 44%);
  --color-Rose400: hsl(7, 20%, 60%);
  --color-Rose300: hsl(14, 25%, 72%);
  --color-Rose300: hsl(13, 31%, 94%);
  --color-Rose50: hsl(20, 50%, 98%);
  --color-Green: hsl(159, 69%, 38%);
}
/* Typography */
.text-preset1,
h1 {
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: bold;
}
.text-preset2 {
  font-size: 1.5rem;
  line-height: 125%;
  letter-spacing: 0px;
  font-weight: 700;
}
.text-preset3 {
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 600;
}
.text-preset4 {
  font-size: 0.85rem;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset4Bold {
  font-size: 0.85rem;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 600;
}

.inc-dec-borders {
  border: 1px solid white;
  border-radius: 100%;
  width: 20px;
  height: 20px; 
  padding-inline: 3px;
}

body {
  font-family: "Red Hat Text", sans-serif;
}